.cz-more-block{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    height: 1rem;
    font-size: 0.14rem;
    margin-top: 0.2rem;
}

.cz-more-block > div{
    height: 0.3rem;
    line-height: 0.3rem;
}

.cz-more-block > div > a{
    color: #0000ff7a;

}